*{
  margin: 0;
  padding: 0;
}
html{
  background-color: white;
  color: #555;
  font-family: 'Montserrat', sans-serif;
  font-size:20px;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  min-height: 100vh;

}


header{
  min-height: 100vh;
  background-image: url('../img/bg2.jpg');
  background-position: center;
  background-size:cover;
  z-index: 1;
}

h6{
  margin: 0;
  font-size: 75%;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
  padding: 10px;
}

.img-cards{
  width: 50%;
  height: auto;
}

.logo{
  margin-top:10px;
  height: 50px;
}

.ceupink{
  color:#f04e98;
  font-weight: 1000;
}

.nfonts{
}

.navcon{
  background-color: rgba(28, 28, 28, 0.69);
}

/* .pic1{
  height: 300px;
} */
.nav-item{
  font-size: 55%;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
  border-bottom: 2px solid transparent;
}

.nav-item:hover{
  border-bottom: 2px solid #f04e98;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  border-bottom: 2px solid #f04e98;
}

.header-text{
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    color:white;

}

.jbg{
  background-color: rgba(27, 25, 26, 0.45);
  min-height: 88vh;
}
.pbg{
  background-color: #f04e98;
  color:white;
}
.btn{
  margin-top: 20px;
  transition: 0.5s;
  width: 100%;
  font-size: 80%;
}

.btn:link,.btn:visited{
  border: 1px solid #f04e98;
  border-radius: 10px;
  text-decoration: none;
  margin-right: 15px;
  color: #f04e98;
}



.btn-ghost:hover,.btn-ghost:active{
  background-color: #f22784;
  color:white;
}

.sulat{
  font-size: 70%;
}
.sulat2{
  font-size: 90%;
}

.btn-full:hover,.btn-full:active{
  background-color: ##f22784;
}
.headermain{
  font-size: 2.9rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-spacing: 4px;
  margin-bottom: 30px;
  text-align:center;

}
.headermain2{
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-spacing: 4px;
  margin-bottom: 30px;
  text-align:center;
  color:white;

}
.headermain3{
  font-size: 4.4rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-spacing: 4px;
  text-align:left;
  color:white;
  font-weight: 1000;

}


element.style {
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
color:#f04e98;
}

.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


.puff-in-center {
	-webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.bgc{
  background-color: rgba(36, 36, 36, 0.5);
  border-radius: 30px;
  color:white;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 75%;
}

h5{
  font-size: 90%;
}

h1 {
font-size: 5em;
color: white;
text-transform: uppercase;
}



/* ----------------------------------------------
 * Generated by Animista on 2022-3-29 13:16:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2022-3-29 13:17:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}


.kenburns-bottom-right {
	-webkit-animation: kenburns-bottom-right 10s ease-out alternate both;
	        animation: kenburns-bottom-right 10s ease-out alternate both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-4-7 15:16:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-bottom-right
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-bottom-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 84%;
            transform-origin: 84% 84%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(20px, 15px);
            transform: scale(1.25) translate(20px, 15px);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
  }
}
@keyframes kenburns-bottom-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 84%;
            transform-origin: 84% 84%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(20px, 15px);
            transform: scale(1.25) translate(20px, 15px);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-3-29 15:41:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-bottom
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-bottom {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 84%;
            transform-origin: 50% 84%;
  }
  100% {
    -webkit-transform: scale(1.10) translateY(15px);
            transform: scale(1.10) translateY(15px);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
}
@keyframes kenburns-bottom {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 84%;
            transform-origin: 50% 84%;
  }
  100% {
    -webkit-transform: scale(1.10) translateY(15px);
            transform: scale(1.10) translateY(15px);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
}



.tracking-in-expand {
	-webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2s both;
	        animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-3-29 15:55:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .headermain{
    font-size: 2rem;
    margin-bottom: 30px;
    text-align:center;

  }

  .headermain2{
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 4px;
    margin-bottom: 0px;
    text-align:center;
    color:white;

  }
  .headermain3{
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 4px;
    margin-bottom: 0px;
    text-align:center;
    color:white;

  }

  .img-cards{
    width: 100%;
    height: auto;
  }

}
